<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
  crossorigin="anonymous"></script>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  .btns {
    padding-top: 20px;

  }

  .btn {
    background: transparent;
    border: none;
    margin-left: 10px;
    outline: none;
    color: grey;
  }

  .btn i:hover {
    cursor: pointer;
  }

  .button_tag{
    margin-left: -10px;
    margin-right: 30px;
  }
  .button_tag1{
    margin-left: 450px;
  }

</style>
</head>


<body>
        <script>

          function Toggle1(b_id) {
            var btnvar1 = document.getElementById(b_id);
            console.log(btnvar1);
            if (btnvar1.style.color == "red") {
              btnvar1.style.color = "grey"
            }
            else {
              btnvar1.style.color = "red"
            }

          }

          function Toggle2(f_id) {
            var btnvar2 = document.getElementById(f_id);
            console.log(btnvar2);
            if (btnvar2.style.color == "red") {
              btnvar2.style.color = "grey"
            }
            else {
              btnvar2.style.color = "red"
            }

          }
        </script>
  {% extends "layout.html" %}
  {% block content %}
  {% for post in posts %}

  <!-- <link rel="stylesheet" href="layout.css"> -->
  <section class="light">
    <div class="container py-2">

      <article class="postcard light blue">
        <a class="postcard__img_link">
          <img src="{{ post.image }}" class="rounded float-left" alt="...">
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a>{{ post.title }}</a></h1>
          <h1 class="postcard__author blue"><a>{{ post.authors }}</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">{{ post.content }}</div>


          <div class="btns">
            <span class="button_tag"><a href="{{ post.content_link }}" target="_blank"><Button class="btn">See More..</Button></a></span>
            <span class="button_tag1"><Button onclick="Toggle1(this.id)" class="btn" id="{{post.blog_id}} like"><i class="fas fa-heart"></i></Button></span>
            <span class="button_tag2"><Button onclick="Toggle2(this.id)" class="btn" id="{{post.blog_id}} fav"><i class="fa-solid fa-bookmark"></i></Button></span>
          </div>

        </div>

      </article>
    </div>
  </section>
  {% endfor %}
  {% endblock content %}

</body>
</html>