<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>

  {% extends "layout.html" %}
  {% block content %}
  {% for post in posts %}

  <!-- <link rel="stylesheet" href="layout.css"> -->
  <section class="light">
    <div class="container py-2">

      <article class="postcard light blue">
        <a class="postcard__img_link">
          <img src="{{ post.image }}" class="rounded float-left" alt="...">
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a>{{ post.title }}</a></h1>
          <h1 class="postcard__title blue"><a>{{ post.authors }}</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">{{ post.content }}</div>
          <ul class="postcard__tagbox">
            <a class="tag__item" href="{{ post.content_link }}" target="_blank">See More...</a>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>Comment</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>Like</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>Favourites</li>
          </ul>
        </div>
      </article>
    </div>
  </section>

  {% endfor %}
  {% endblock content %}

</body>
</html>